{# app/templates/_form_helpers.html #}
{% macro render_field(field, label_visible=true) %}
    {# 
        Esta macro desenha um campo de formulário completo (label, input e erros)
        usando as classes do Bootstrap.
    #}
    
    {% if label_visible and field.label %}
        {{ field.label(class="form-label") }}
    {% endif %}

    {# Adiciona a classe 'is-invalid' se houver erros de validação #}
    {% set field_class = "form-control" %}
    {% if field.errors %}
        {% set field_class = field_class + " is-invalid" %}
    {% endif %}

    {{ field(class=field_class, **kwargs)|safe }}

    {% if field.errors %}
        <div class="invalid-feedback">
            {% for error in field.errors %}
                <span>{{ error }}</span><br>
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}